<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
  <input [hidden]="true" type="text" name="id" [(ngModel)]="curso.id" required/>
  <label>Nombre</label>
  <input type="text" name="name" [(ngModel)]="curso.name" required minlength="5"/>
<br>
  <label>Descripción</label>
  <input type="text" name="descripcion" [(ngModel)]="curso.descripcion" required minlength="5"/>
<br>
  <label>Horas</label>
  <input type="text" name="horas" [(ngModel)]="curso.horas" required pattern="[0-9]+"/>
<br>
  <label>Plazas disponibles</label>
  <input type="text" name="plazas_disponibles" [(ngModel)]="curso.plazas_disponibles" required pattern="[0-9]+"/>
<br>
  <label>Máximo de Alumnos</label>
  <input type="text" name="max_alumnos" [(ngModel)]="curso.max_alumnos" required pattern="[0-9]+"/>
<br>
  <label>Precio</label>
  <input type="text" name="precio" [(ngModel)]="curso.precio" required pattern="[0-9]+"/>
<br>
  <input type="submit" value="Enviar" [disabled]="!formulario.form.valid"/>
</form>
