<div class="">
  <h1>Listado de cursos</h1>
  <input #searchBox (keyup)="search(searchBox.value)" type="text" class="form-control" placeholder="Buscar curso"/>
  <br>
</div>
<div class="row justify-content-around">
  <app-card *ngFor="let curso of cursos" [data]="curso" (recargar)="getData()"></app-card>
</div>
