<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
  <label>Nombre</label>
  <input type="text" name="name" [(ngModel)]="name" required minlength="5"/>
<br>
  <label>Descripción</label>
  <input type="text" name="descripcion" [(ngModel)]="descripcion" required minlength="5"/>
<br>
  <label>Horas</label>
  <input type="text" name="horas" [(ngModel)]="horas" required pattern="[0-9]+"/>
<br>
  <label>Plazas disponibles</label>
  <input type="text" name="plazas_disponibles" [(ngModel)]="plazas_disponibles" required pattern="[0-9]+"/>
<br>
  <label>Máximo de Alumnos</label>
  <input type="text" name="max_alumnos" [(ngModel)]="max_alumnos" required pattern="[0-9]+"/>
<br>
  <label>Precio</label>
  <input type="text" name="precio" [(ngModel)]="precio" required pattern="[0-9]+"/>
<br>
  <input type="submit" value="Enviar" [disabled]="!formulario.form.valid"/>
</form>
