<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<div *ngIf="errorMessage" class="alert" [ngClass]="errorMessage.class" role="alert">
  <h3>{{ errorMessage.text }}</h3>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
