<nav class="nav justify-content-center nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['cursos']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cursos</a>
  <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['cursos/nuevo']" routerLinkActive="active">Añadir curso</a>
</nav>
